body {
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  color: #007bff;
  margin-bottom: 20px;
}

p {
  font-size: 18px;
  color: #666;
}

.navbar {
  background-color: #007bff;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
  font-size: 15px;
}

.navbar-nav .nav-link {
  color: #007bff;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
  color: #000000;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #007bff;
  margin-right: 10px;
}

.logout-button {
  background-color: transparent;
  border: none;
  color: #007bff;
  font-weight: bold;
  font-size: 18px;
  cursor: pointer;
}

.logout-button:hover,
.logout-button:focus {
  color: #007bff;
  text-decoration: underline;
}

/* Adicionando estilos aos campos da navbar */
.navbar-toggler-icon {
  color: #0a0a0a;
}

.navbar-collapse {
  justify-content: flex-end;
}

.navbar-nav .dropdown-menu {
  background-color: #007bff;
}

.navbar-nav .dropdown-menu .dropdown-item {
  color: #070707;
}

.navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: rgba(255, 255, 255, 0.5);
}

.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:focus {
  background-color: rgba(255, 255, 255, 0.1);
}
.nav-link {
  color: #007bff;
  font-weight: bold;
  font-size: 18px;
  margin-right: 10px;
}
.image-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.image-container img {
  width: 385px;
  height: auto;
}
.card-title{
  color: #007bff;
  max-width: 1200px;
  text-align: center;
  font-size: 40px;
}
.image-container2{
  position: absolute;
  top: 80%;
  right: -8%;
  transform: translate(-50%, -50%);
}
.image-container2 img {
  width: 325px;
  height: auto;
}
.custom-card {
  width: 100%; /* ou qualquer outra largura desejada */
}



/* Estilos gerais */
body {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos do formulário */
.form-title {
margin-bottom: 20px;
text-align: center;
}

.form-group {
margin-bottom: 20px;
}

.form-label {
font-weight: bold;
}

.form-control {
width: 100%;
padding: 8px;
font-size: 14px;
border: 1px solid #ced4da;
border-radius: 4px;
transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
outline: none;
border-color: #4d90fe;
box-shadow: 0 0 0 0.2rem rgba(77, 144, 254, 0.25);
}

.errorlist {
color: #dc3545;
margin-top: 5px;
padding-left: 20px;
list-style: none;
}

.btn {
padding: 8px 16px;
font-size: 16px;
border: none;
border-radius: 4px;
cursor: pointer;
}

.btn-primary {
background-color: #007bff;
color: #fff;
}

.btn-primary:hover {
background-color: #0069d9;
}

/* Estilos da barra de navegação */
.navbar {
background-color: #f8f9fa;
padding: 10px 15px;
}

.navbar-brand img {
width: 50px;
height: 50px;
}

.navbar-nav .nav-link {
margin-left: 10px;
color: #000;
text-decoration: none;
transition: color 0.3s ease;
}

.navbar-nav .nav-link:hover {
color: #007bff;
}

.navbar-nav.ms-auto .nav-link svg {
width: 20px;
height: 20px;
vertical-align: middle;
margin-right: 5px;
}

.navbar-nav.ms-auto .nav-link:last-child {
margin-left: 15px;
}

/* Estilos para dispositivos móveis */
@media (max-width: 767px) {
.navbar-nav.me-auto.mb-2.mb-lg-0,
.navbar-nav.ms-auto {
  margin-top: 10px;
}
}
body {
background-color: #f8f9fa;
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
}

.container {
max-width: 1200px;
margin: 0 auto;
padding: 40px;
text-align: center;
}

h1 {
font-size: 36px;
font-weight: bold;
color: #007bff;
margin-bottom: 20px;
}

p {
font-size: 18px;
color: #666;
}

.navbar {
background-color: #007bff;
}

.navbar-brand {
color: #fff;
font-weight: bold;
font-size: 10px;
}

.navbar-nav .nav-link {
color: #007bff;
font-weight: bold;
font-size: 18px;
margin-right: 10px;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
color: #000000;
}

.profile-icon {
width: 30px;
height: 30px;
border-radius: 50%;
background-color: #007bff;
margin-right: 10px;
}

.logout-button {
background-color: transparent;
border: none;
color: #007bff;
font-weight: bold;
font-size: 18px;
cursor: pointer;
}

.logout-button:hover,
.logout-button:focus {
color: #007bff;
text-decoration: underline;
}

/* Adicionando estilos aos campos da navbar */
.navbar-toggler-icon {
color: #0a0a0a;
}

.navbar-collapse {
justify-content: flex-end;
}

.navbar-nav .dropdown-menu {
background-color: #007bff;
}

.navbar-nav .dropdown-menu .dropdown-item {
color: #070707;
}

.navbar-nav .dropdown-menu .dropdown-divider {
border-top-color: rgba(255, 255, 255, 0.5);
}

.navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar-nav .dropdown-menu .dropdown-item:focus {
background-color: rgba(255, 255, 255, 0.1);
}
.nav-link {
color: #007bff;
font-weight: bold;
font-size: 18px;
margin-right: 10px;
}
.image-container {
position: absolute;
top: 50%;
left: 10%;
transform: translate(-50%, -50%);
}

.image-container img {
width: 385px;
height: auto;
}
.card-title{
color: #007bff;
max-width: 1200px;
text-align: center;
font-size: 40px;
}
.image-container2{
position: absolute;
top: 80%;
right: -8%;
transform: translate(-50%, -50%);
}
.image-container2 img {
width: 325px;
height: auto;
}
.custom-card {
width: 100%; /* ou qualquer outra largura desejada */
}

/* Estilização do formulário */
form {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th,
table td {
  padding: 10px;
}
table th {
  text-align: left;
  font-weight: bold;
}
input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ced4da;
  border-radius: 4px;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
table tr {
  border-bottom: 1px solid #ccc;
}
input[type="submit"] {
  padding: 8px 16px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #0069d9;
}

.errorlist {
  color: #dc3545;
  margin-top: 5px;
  padding-left: 0;
  list-style: none;
}